{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

        {% block header %}

            <header>
                <nav class="menu">
                    <a href="{{ path('home') }}"><img src="{{ asset('assets/img/Motoccaz.png') }}" alt="logo motoccaz"></a>
                    <ul class="menuList">
                        <li>
                            <a href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="#">Annonce</a>
                        </li>
                        <li>
                            <a href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li>
                            <a href="{{ path('app_register') }}">Inscription</a>
                        </li>
                    </ul>
                </nav>
            </header>

        {% endblock %}

{% block main %}
    <main>
        <div class="box_login">
            <form method="post" class="login">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                <label for="inputEmail"></label>
                <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword"></label>
                <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-primary" type="submit" onclick="validate()">
                    s'identifier
                </button>
            </form>
        </div>
    </main>
{% endblock %}

{% block footer %}

    <footer>

        <div class="foot">
            <h2><a href="{{ path('home') }}">Motoccaz</a></h2>
            <br>
            <p>
                <a href="#">contact@motoccaz.fr</a>
            </p>
        </div>
        <div>
            <h3>Navigation</h3>
            <ul class="nav">
                <li>
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <br>
                <li>
                    <a href="#">Mentions légales</a>
                </li>
                <br>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Réseaux sociaux</h3>
            <ul class="feet">
                <li class="fb">
                    <a href="#"><img src="{{ asset('assets/img/facebook.png') }}" width="30em" alt="Facebook"></a>
                </li>
                <li class="ig">
                    <a href="#"><img src="{{ asset('assets/img/insta.png') }}" width="30em" alt="Instagram"></a>
                </li>
                <li class="tw">
                    <a href="#"><img src="{{ asset('assets/img/twitter.png') }}" width="30em" alt="Twitter"></a>
                </li>
            </ul>
        </div>

    </footer>

{% endblock %}

